.follow_btn {
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  padding: 10px 30px;
  outline: none;

  &.sub {
    color: #272727;
    background-color: #E2E9EF;
    border-bottom: 4px solid #3678a3;

    &:hover {
      border-bottom: 4px solid darkred;
      cursor: pointer;
    }
  }

  &.follow {
    color: #ffffff;
    background-color: #3f8dbf;
    border-bottom: 4px solid #3678a3;

    &:hover {
      background-color: #3678a3;
      cursor: pointer;
    }
  }
}
