<mat-tab-group mat-align-tabs="center" *ngIf="profileStatus === true">
  <mat-tab label="Publications">
    <div class="tab">
      <div class="tab" *ngFor="let card of filtredObj; trackBy:trackFunction;">
        <app-profile-post
          [post]="card"
          (click)="postOpen(card)"
        ></app-profile-post>
      </div>
<!--      <app-profile-post></app-profile-post>-->
    </div>
  </mat-tab>
  <mat-tab label="Marks">
    <div class="tab">
<!--      <app-profile-post></app-profile-post>-->
<!--      <app-profile-post></app-profile-post>-->
<!--      <app-profile-post></app-profile-post>-->
    </div>
  </mat-tab>
  <mat-tab label="Saved">
    <div class="tab">
<!--      <app-profile-post></app-profile-post>-->
    </div>
  </mat-tab>
</mat-tab-group>

<div *ngIf="profileStatus === false">
  <mat-card class="closed_tab">
    <h3>Profile closed!</h3>
  </mat-card>
</div>
