<mat-tab-group mat-align-tabs="center" >
  <mat-tab label="Publications">
    <div class="tab">
      <app-profile-post></app-profile-post>
      <app-profile-post></app-profile-post>
      <app-profile-post></app-profile-post>
      <app-profile-post></app-profile-post>
    </div>
  </mat-tab>
  <mat-tab label="Marks">
    <div class="tab">
      <app-profile-post></app-profile-post>
      <app-profile-post></app-profile-post>
      <app-profile-post></app-profile-post>
    </div>
  </mat-tab>
  <mat-tab label="Saved">
    <div class="tab">
      <app-profile-post></app-profile-post>
    </div>
  </mat-tab>
</mat-tab-group>
