.header {
  background-color: red;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    user-select: none;
    font-size: 40px;
    line-height: 65pt;
    color: #4e4e4e;
    margin: 5px 0;
  }

  .input {
    width: 280px;
    height: 24px;
  }
}
