<div class="form-info-changer">
  <button mat-button class="cancel-btn" (click)="closeDialog()"><mat-icon>cancel</mat-icon></button>
<h2 style="margin-right: 20px" mat-dialog-title>Change profile info</h2>
<div mat-dialog-content>
  <form [formGroup]="userInfoReactiveForm" (submit)="onSubmit()">
    <mat-form-field class="form-field">
      <mat-label for="name">Name</mat-label>
      <input matInput id="name" formControlName="name"
             placeholder="{{data.name}}" value="{{data.name}}" maxlength="30">
      <!--      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">-->
      <!--        <mat-icon>close</mat-icon>-->
      <!--      </button>-->
    </mat-form-field>
    <div class="error" *ngIf="isControlInvalid('name')">
      Field must be filled
    </div>
    <br/><br/>

<!--    <mat-form-field class="form-field">-->
<!--      <mat-label for="userTag">User ID</mat-label>-->
<!--      <input matInput type="text" id="userTag" formControlName="userTag">-->
<!--      &lt;!&ndash;      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">&ndash;&gt;-->
<!--      &lt;!&ndash;        <mat-icon>close</mat-icon>&ndash;&gt;-->
<!--      &lt;!&ndash;      </button>&ndash;&gt;-->
<!--    </mat-form-field>-->
<!--    <div class="error" *ngIf="isControlInvalid('userTag')">-->
<!--      Input valid user tag, included "A-z", "-", ".", "_"-->
<!--    </div>-->
<!--    <br/><br/>-->

    <mat-form-field class="form-field">
      <mat-label for="userInfo">Info</mat-label>
      <input matInput type="text" id="userInfo" formControlName="userInfo"
             placeholder="{{data.info}}" value="{{data.info}}"
              maxlength="100">
      <!--      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">-->
      <!--        <mat-icon>close</mat-icon>-->
      <!--      </button>-->
    </mat-form-field>
    <div class="error" *ngIf="isControlInvalid('name')">
      Field must be filled
    </div>
    <br/><br/>

    <div *ngIf="!imageLink" class="form-group col-12">
      <input type="file"
             id="file"
             #userPhoto
             (change)="onFileSelected($event)"
             name="image"
             autocomplete="off"
      />
    </div>
<!--    <img  *ngIf="imageLink" [src]="imageLink" style="width: 293px; height: 293px; background-size: cover;"/>-->
    <img class="add_img"  *ngIf="imageLink" [src]="imageLink"/>
    <br>
    <mat-progress-bar mode="determinate" max="100" [value]="progress"></mat-progress-bar>
    <!--      <progress max="100" [value]="progress" ></progress>-->

    <button mat-button color="primary" type="submit">Push</button>
  </form>

  <br/>
<!--  <div>-->
<!--    {{userInfoReactiveForm.value | json}}-->
<!--    {{imageLink}}-->
<!--    {{data | json}}-->
<!--    {{data.name}}-->
<!--    {{data.info}}-->
<!--  </div>-->
</div>
</div>
