.example-card {
  max-width: 600px;
  min-width: 600px;
  border-radius: 20px;
}

.example-header-image {
  //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;

  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.post-img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span {
  margin-left: 5px;
  cursor: pointer;
}

img {
  cursor: pointer;
}

.saveBtn {
  &.like {
    color: red;
    border-bottom: red 1px solid;
  }

  &.default {
    color: #272727;
  }
}

@media (max-width: 600px) {
  .example-card {
    min-width: 375px;
  }
}

@media (max-width: 375px) {
  .example-card {
    min-width: 320px;
  }
}
