<mat-card class="example-card" *ngIf="card && card.likes && card.id && postCreaterAvatar && postCreater && postCreaterID">
<!--  {{card}}-->
<!--  {{postCreaterAvatar}}-->
<!--  {{postCreater}}-->
<!--  {{postCreaterID}}-->
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" [style.background-image]="'url('+ postCreaterAvatar +')'"
         style="cursor: pointer"
         (click)="redirectOnSlectedUserProfile(postCreaterID)"></div>
    <mat-card-title style="cursor: pointer"
                    (click)="redirectOnSlectedUserProfile(postCreaterID)"
    >{{postCreater}}</mat-card-title>
    <mat-card-subtitle style="cursor: pointer"
                       (click)="redirectOnSlectedUserProfile(postCreaterID)"
    >{{postCreaterID}}</mat-card-subtitle>
  </mat-card-header>
  <div>{{card.id}}</div>

  <img mat-card-image class="post-img" *ngIf="imgFlag === false"
       src="assets/loading/0_DqHGYPBA-ANwsma2.gif" alt="Loading">
  <img mat-card-image class="post-img" *ngIf="imgFlag === true"
       src="{{card.imageLink}}" alt="{{card.imageLink}}"
       (click)="postOpen(card, postCreater, postCreaterID, postCreaterAvatar)">
<!--       (click)="postOpen(card, postCreater, postCreaterID, postCreaterAvatar)" routerLink="/feed/{{card.id}}">-->
  <mat-card-actions class="card-actions">
    <app-likes-comments
      [postLikes]="card.likes"
      [postID]="card.id"
    ></app-likes-comments>
    <button mat-icon-button>
      <mat-icon>folder_open</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-content>
    <p>
      <span>{{card.postTags}}</span>
      <span>{{card.peoplesID}}</span>
    </p>
  </mat-card-content>
</mat-card>
