<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" [style.background-image]="'url('+ postCreaterAvatar +')'"></div>
<!--    <mat-card-title>{{card.userPostCreater}}</mat-card-title>-->
<!--    <mat-card-subtitle>{{card.userPostCreater}}</mat-card-subtitle>-->
    <mat-card-title>{{postCreater}}</mat-card-title>
    <mat-card-subtitle>{{postCreaterID}}</mat-card-subtitle>
  </mat-card-header>
  <div>{{card.id}}</div>
  <img mat-card-image class="post-img" src="{{card.imageLink}}" alt="{{card.imageLink}}">
  <mat-card-actions class="card-actions">
    <app-likes-comments
      [postLikes]="card.likes"
      [postID]="card.id"
    ></app-likes-comments>
    <mat-icon>folder_open</mat-icon>
  </mat-card-actions>
  <mat-card-content>
    <p>
      <span>{{card.postTags}}</span>
      <span>{{card.peoplesID}}</span>
<!--      <span>#lernJS</span>,-->
<!--      <span>#SomeTestTag</span>,-->
<!--      <span>@ivan_ahmed</span>,-->
<!--      <span>@someUser</span>-->
    </p>
  </mat-card-content>
</mat-card>
