<div class="flex">
  <div class="flex info">
    <button mat-icon-button (click)="checkLikesCounter()" (click)="$event.stopPropagation();">
      <span>{{likesCounter}}</span>
      <mat-icon class="likeBtn" [ngClass]="{
        like: colorCounter === true,
        default: colorCounter === false
      }">favorite</mat-icon>
    </button>
  </div>
  <div class="flex info">
    <button mat-icon-button disabled style="color: #272727">
      <span>{{commentsCounter}}</span>
      <mat-icon>chat</mat-icon>
    </button>
  </div>
</div>
