<div class="post" *ngIf="data">
  <div class="img">
    <img src="{{data.card.imageLink}}" alt="Post picture">
  </div>

  <div class="post-info">

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" [style.background-image]="'url('+ data.postCreaterAvatar +')'"></div>
        <mat-card-title>{{data.postCreater}}</mat-card-title>
        <mat-card-subtitle>{{data.postCreaterID}}</mat-card-subtitle>
<!--        <mat-card-subtitle>{{data.time}}</mat-card-subtitle>-->
      </mat-card-header>
      <div>{{data.card.id}}</div>

      <mat-card-actions class="card-actions">
        <app-likes-comments
          [postLikes]="data.card.likes"
          [postID]="data.card.id"
        ></app-likes-comments>

        <div>
          <button mat-icon-button>
            <mat-icon>folder_open</mat-icon>
          </button>

          <!--        Math menu with post config btns-->
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Post config">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>

      </mat-card-actions>
      <mat-card-content>
        <p>
          <span>{{data.card.postTags}}</span>
          <span>{{data.card.peoplesID}}</span>
        </p>
      </mat-card-content>
    </mat-card>

    <div class="comments">
      <div class="card-comment" *ngFor="let postComment of filtredComments; trackBy:trackFunction;">
        <app-comment [comment]="postComment"></app-comment>
      </div>
    </div>

    <div class="text-area">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Add comment..."
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="3"
                  [(ngModel)]="area_text"
        ></textarea>
      </mat-form-field>
      <div class="btn-group">
        <button mat-button color="warn" mat-dialog-close>Cancel</button>
        <button mat-button color="primary" (click)="pressSendBtn()">Send</button>
      </div>
    </div>
  </div>
</div>
