.post {
  max-width: 935px;
  max-height: 600px;
  display: flex;

  .img {
    position: relative;
    width: 600px;
    height: 600px;

    background-size: cover;
    overflow:hidden;

    display: flex;
    justify-content: center;
  }

  .post-info {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;

    .example-card {
      max-width: 100%;

      .card-actions {
        display: flex;
        justify-content: space-between;
      }
    }

    .example-header-image {
      //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;

      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    .comments {
      overflow: auto;
      overflow-x: hidden;
      height: 100%;
      width: 100%;

      .card-comment {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .card {
          width: 100%;
        }
      }

      .card-comment-header {
        size: 14px;
      }
    }

    .text-area {
      position: sticky;
      bottom: 0;
      width: 100%;
      z-index: 101;
      background-color: white;

      .example-full-width {
        width: 100%;
      }

      .btn-group {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

app-comment {
  font-size: small;
}

@media (max-width: 768px) {
  .post {
    flex-direction: column;
    justify-content: space-between;

    .img {
      min-height: 300px;
      width: 100%;

      &>img {
        //width: 400px;
        min-height: 300px;
        //height: 300px;
      }
    }

    .comments {
      app-comment {
        width: 100%;
      }
    }
  }
}

@media (max-width: 370px) {
  .post-info {
    min-width: 250px;
    width: 270px;
  }

  .card {
    max-width: 300px;
    min-width: 200px;
  }
}
