.profile-info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  .user-info {
    font-family: Roboto, sans-serif;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    width: 100%;
  }

  .edit-info-btn {
    position: absolute;
    right: 0;
    top: 0;
  }

  .img_btn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    border-radius: 20px;
    max-height: 290px;

    .user-profile-photo {
      height: 200px;
      width: 200px;
      border-radius: 10px;
      border:1px solid black;
      background-size: cover;

      display: flex;
      justify-content: center;
      //align-items: center;

      overflow:hidden;
    }

    .follow-btn {
      margin: 10px 0;
    }
  }
}

@media (max-width: 800px) {
  .profile-info {
    justify-content: center;
    flex-direction: column-reverse;

    .img_btn {
      max-width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
