
  <div class="profile-info">
    <div class="user-info">
      <h1>Alibaba Loremtest-ali</h1>
      <h2>@TEST_Alibaba</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto assumenda autem itaque, perferendis quia quidem quod sint sunt unde.</p>
      <app-profile-info-counters></app-profile-info-counters>
    </div>
    <div class="img_btn">
      <app-profile-img class="user-profile-photo"></app-profile-img>
      <app-follow-btn class="follow-btn"></app-follow-btn>
    </div>
  </div>
